<table border="1">
    {% for x in objects %}
      <tr>
      {%for field in range(1,field_num)%}
      <td>{{ field }}</td>
      {%endfor%}
      <!--
      <td>{{ x.full_name}}</td>
      <td>{{ x.contact_num }}</td>
      <td>{{ x.blood_group }}</td>
      <td>{{ x.emergency_cont_num }}</td>
      <td>{{ x.email }}</td>
      <td>{{ x.address }}</td>
      <td>{{ x.registration_date }}</td>
      <td>{{ x.password }}</td>
      <td>{{ x.marital_status }}</td>
      <td><a href="deletepatient/{{ x.id }}">delete</a></td>-->
      </tr>
    {% endfor %}
    </table>