<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>

<h1>Update discover</h1>

<form action="updaterecord{{x.cname.cname}},{{x.disease_code.disease_code}}" method="post">
{% csrf_token %}
Country:<br>
<select name="cname" id="cname">
  {% for x in country %}
  <option value="{{x.cname}}">{{x.cname}}</option>
  {%endfor%}
</select>
<br><br>
Disease code:<br>
<select name="disease_code" id="disease_code">
  {% for x in dis_code %}
  <option value="{{x.disease_code}}">{{x.disease_code}}</option>
  {%endfor%}
</select>
<br><br>
 First enc date:<br>
<input name="first_enc_date" value="{{ x.first_enc_date }}">
<!--<br><br>
 IIN num:<br>
<input name="iin" value="{{ doctor.iin_num}}">-->
<br><br>
<input type="submit" value="Submit">
</form>