<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>

<h1>Update user</h1>

<form action="updateuserrecord/{{x.email}}" method="post">
{% csrf_token %}
Email:<br>
<input name="email" value="{{ x.email }}">
<br><br>
Name:<br>
<input name="name" value="{{ x.name }}">
<br><br>
 Surname:<br>
<input name="surname" value="{{ x.surname }}">
<br><br>
Country:<br>
<select name="country" id="country">
  {% for x in country %}
  <option value="{{x.cname}}">{{x.cname}}</option>
  {%endfor%}
</select>
<br><br>
Salary:<br>
<input name="salary" value="{{ x.salary}}">
<br><br>
Phone:<br>
<input name="phone" value="{{ x.phone }}">
<br><br>
<input type="submit" value="Submit">
</form>